/* Reset and Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Shared Layout Containers */
.background-color {
    display: flex;
    background-color: #1f2937;
}

.header,
.body1,
.body2,
.body3,
.body4,
.footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 6%;
    flex: 1;
}

/* Header */
.header {
    justify-content: left;
    background-color: #1f2937;
    padding-top: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

.right-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: right;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

/* Body Section 1 */
.body1 {
    background-color: #1f2937;
    margin: 100px auto;
    flex-wrap: wrap;
    gap: 15px;
    justify-items: center;
}

.left-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-info h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left-info p {
    color: #e5e7eb;
    max-width: 400px;
    margin-bottom: 16px;
}

.left-info .button {
    width: 128px;
    height: 32px;
    font-size: 15px;
    color: #f9faf8;
    background-color: #3882F6;
    border:#3882F6;
    border-radius: 8px;
}

.right-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.right-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    max-width: 550px;
    background-color: darkgrey;
    color: #F9FAF8;
}

/* Body Section 2 */
.body2 {
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
}

.body2 h3 {
    font-size: 28px;
    margin-bottom: 40px;
}

.square-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    /* gap: 3%; */
    width: 100%;
    max-width: 800px;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square .text {
    text-align: center;
}

.image {
    width: 100%;
    max-width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

/* Body Section 3 */
.background-color-alt {
    background-color: #E5E7EB;
    display: flex;
}

.body3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 8%;
    width: 100%;
    max-width: 940px;
}

.body3 p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    text-align: start;
}

.body3 .quote-name {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    margin-right: 50px
    
}

/* Body Section 4 */
.body4 {
    display: flex;
    align-content: center;
    width: 100%;
    max-width: 2000px;
    padding: 8%;
}

.blue-square {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0% 10px;
    height: 140px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-radius: 8px;
    background-color: #3882F6;
}

.action h5 {
    font-size: 20px;
    color: #F9FAF8;
}

.action p {
    color: #E5E7EB;
}

div .button {
    border: 3px solid #F9FAF8; 
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 15px;
    color: #F9FAF8;
    width: 110px;
    height: 30px;

}
/* Footer */
.footer {
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: #1f2937;
    color: #e5e7eb;
}